<%= image_tag 'home-scenary.svg', class: 'illustration' %>

<header class="wrapper">
  <div class="header-details">
    <%= image_tag 'logo.svg', class: 'logo' %>
    <h1>Search over 1280+ apps<br>developed by our students</h1>
  </div>
  <section class="product-filters">
    <div class="search">
      <label>Search by</label>
      <input tabindex="1" id="autoComplete" type="text" name="" placeholder="product name, team members, city...">
    </div>
    <div class="search">
      <label>Add some tags</label>
      <input type="text" name="" placeholder="Anything specific?">
    </div>
  </section>
</header>
  
<div class="wrapper">
  <section>  
    <ul class="product-list">
      <% @products.each do |product| %>
      <a href="#">
        <li class="product">
          <%= image_tag 'test.jpg', class: 'product-thumbnail'%>
          <div class="product-details">
            <div>
              <span class="product-name"><%= product.name %></span>
              <i><%= product.batch %></i>
            <div>

            <p class="product-tagline"><%= product.tagline %></p>

            <div>
              <i>Built by</i>
              <ul class="students">
                <li class="student">Primo Augustus</li>
                <li class="student">Primo Augustus</li>
                <li class="student">Primo Augustus</li>
                <li class="student">Primo Augustus</li>
              </ul>
            </div>

            <ul class="tags">
              <li class="tag">Money</li>
              <li class="tag">Events</li>
              <li class="tag">Travel</li>
            </ul>
        </li>
      </a>
      <% end %>

    </ul>
  </section>
</div>

