<%= image_tag 'home-scenary.svg', class: 'illustration' %>

<header class="wrapper">
  <div class="header-details">
    <%= image_tag 'logo.svg', class: 'logo' %>
    <h1>Search over <%= ((@number_of_products / 10) * 10) %>+ apps<br>developed by our students</h1>
  </div>
  <%= form_tag root_path, method: :get, id: "searchForm", remote: true do %>
    <section class="product-filters">
      <div class="search">
        <label>Search by</label>
        <input tabindex="1" autocomplete="off" id="autoComplet" type="text" name="queries" placeholder="product name, team members, city...">
      </div>
      <div class="search">
        <label>Add some tags</label>
        <input type="text" name="tags" placeholder="Anything specific?" class="suggestable" data-suggestions="<%= Tag.all.pluck(:title) %> ">
        <ul class="suggestions autoComplete_results_list" id="autoComplete_results_list">
        </ul>
      </div>
    </section>
  <% end %>
</header>

<div class="wrapper">
  <section id="replace-products">
    <%= render 'products', products: @products %>
  </section>
</div>

